# Django Stuff
asgiref==3.3.1
Django==3.1.12
djangorestframework==3.12.2
django-cors-headers==3.6.0
pytz==2020.5
sqlparse==0.4.1

# SQL Conections
mysqlclient==1.4.6
PyMySQL==0.10.1

# Other Stuff
PyJWT==2.0.0
Pillow==8.3.1

# PaymentWall
# paymentwall-python==1.0.8
git+https://github.com/luisito666/paymentwall-python.git@chore/Add-CIDR-Validation
